<% include ./partials/header %>
<div class="text-center">
	<h1>Blog App</h1>
	<% blogs.forEach( function(blog) { %>
		<div class="card">
			<h2>
				<%= blog.title %>
			</h2>
			<img src="<%= blog.image %>" class="img-thumbnail" alt="">
			<small class="row">
				<%= blog.created %>
			</small>
			<p>
				<%= blog.body %>
			</p>
		</div>
	<% }) %>
</div>
<% include ./partials/footer %>